<h1>Farma <%= @user.farm.name %></h1>

<h2>Úhyny na každú halu:</h2>
<% @deaths.each_with_index do |(key, value), index| %>
    <% break if index == @halls %>
    <p>
      <b><%= key %>:</b> <%= value.empty? ? 0 : value %>
    </p>
<% end %>

<h2>Znášky na každú halu:</h2>
<% @hatches.each_with_index do |(key, value), index| %>
    <% break if index == @halls %>
    <p>
      <b><%= key %>:</b>
    </p>
    <p>
      V hrubom: <%= value["raw"].empty? ? 0 : value["raw"] %>
    </p>
    <p>
      V čistom: <%= value["sorted"].empty? ? 0 : value["sorted"] %>
    </p>
<% end %>
<p>
  Odoslal: <%= @user.name %>
</p>
<p>
  Dátum: <%= Time.zone.now %>
</p>
