<%= form_tag(turkey_data_path(farm: request.fullpath)) do %>

    <h1>úhyny na každú halu</h1>
    <%= fields_for :death do |builder| %>
      <% (1..@halls).each do |hall_index|%>
        <%= builder.number_field "hall#{hall_index}", class: 'form-control', placeholder: "Hala#{hall_index}" %>
      <% end %>
    <% end %>

    <h1>znáška na každú halu</h1>
    <%= fields_for :hatch do |builder| %>
      <% (1..@halls).each do |hall_index|%>
        <%= builder.fields_for "hall#{hall_index}" do |f| %>
          <%= f.number_field "raw", class: 'form-control'%>
          <%= f.number_field "sorted", class: 'form-control'%>
        <% end %>
      <% end %>
    <% end %>

    <%= submit_tag "Uložiť", class: "btn btn-primary" %>
<% end %>